
body{
	padding-top: 100px;
}
a{
	background-color: #000;
	color: #fff;
	padding: 5px;
	text-decoration: none;
}
#content-wrapper{
	display: flex;
	
	justify-content: center;
	align-items: center;
}
.column{
	width: 600px;
	padding: 10px;
}
#featured{
	max-width: 500px;
	max-height: 600px;
	object-fit: cover;
	cursor: pointer;
	border: 2px solid black;
}
.thumbmail{
	object-fit: cover;
	max-width: 180px;
	max-height: 100px;
	cursor: pointer;
	opacity: .5;
	margin: 5px;
	border: 2px solid black;
}
.thumbmail:hover{
	opacity: 1;
}
.active{
	opacity: 1;
}
#slide-wrapper{
	max-width: 500px;
	display: flex;
	min-height: 100px;
	align-items: center;
}
#slider{
	width: 440px;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: hidden;
}
.arrow{
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: .3s;
}
.arrow:hover{
	opacity: .5;
	width: 35px;
	height: 35px;
}